<div class="block full">
  <div class="block-title">
    <h2>Attacher votre fichier Excel ici</h2>
  </div>
  <form>
    <div class="dropzone dz-clickable dz-extra" appDnd (fileDropped)="onFileDropped($event)">

      <input type="file" id="fileDrop" #fileDrop class="fileDropButton" (change)="fileBrowseHandler($event.target.files)">

      <div class="dz-default dz-message" *ngIf="!atLeastOneFile">
        <span>glissez votre fichier ici<br>ou<br></span>

        <label for="fileDrop" class="btn btn-primary dz-label" >
          <span class="btn-ripple animate">
          </span>
          Cliquez ici pour choisir un fichier
        </label>
      </div>

      <div class="dz-file-preview dz-preview dz-processing"  *ngFor="let file of files; let i = index">
        <i class="gi gi-file"></i>
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
          <app-progress [progress]="file?.progress"></app-progress>
        </div>
        <i class="gi gi-remove" alt="file" (click)="deleteFile(i)"></i>
      </div>



    </div>

    <div class="label label-danger center-block" *ngIf="notExcelFileWarning">
      <h4>Au moin un fichier n'est pas de type excel sheet (xls, xlsx), ce fichier sera ignoré.</h4>
    </div>

    <div class="label label-warning center-block" *ngIf="noFileSubmitted">
      <h4>Aucun fichier excel selectioné! re-essayez svp.</h4>
    </div>
    <div class="block" style="text-align: center">
      <button (click)="convertFiles($event)" class="btn btn-info">
        Confirmer
      </button>
    </div>

  </form>



</div>
