<!-- <form #resetForm="ngForm">
    <h2>Reset your password</h2>
    <label for="email">Enter your email</label>
    <input email required ngModel 
        name="email" 
        type="text" 
        class="form-control"
        id="email">
    <p>*We will send you a confirmation email to reset your password</p>
    <button [disabled]="resetForm.invalid" class="btn btn-primary" > Send</button>
</form> -->

<!-- <div class="block animation-fadeInQuickInv">
    <div class="block-title">
    <div class="block-options pull-right">
    <a routerLink="/login" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="" style="overflow: hidden; position: relative;" data-original-title="Retour à connexion"><i class="fa fa-user"></i></a>
    </div>
    <h2>Mot de passe oublié</h2>
    </div>
    <form #resetForm="ngForm" id="form-reminder" action="page_ready_reminder.php" method="post" class="form-horizontal" novalidate="novalidate">
    <div class="form-group">
    <div class="col-xs-12">
    <input required ngModel type="text" id="reminder-email" name="reminder-email" class="form-control" placeholder="Entrer votre email..">
    <p>*We will send you a confirmation email to reset your password</p>
    </div>
    </div>
    <div class="form-group form-actions">
    <div class="col-xs-12 text-right">
    <button [disabled]="resetForm.invalid" type="submit" class="btn btn-effect-ripple btn-sm btn-primary" style="overflow: hidden; position: relative;"><i class="fa fa-check"></i> Envoyer</button>
    </div>
    </div>
    </form>
    </div> -->

    <h3 class="card-header">Forgot Password</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>