.content-header-media-custom{
  position: relative;
  height: 260px;
  overflow: hidden;
}

.image-container{
  width: 100%;
}

.image-container > img{
  width: 110%;
  top: -150px;
  position: absolute;
}

.student-row{
  transition: left 0.3s ease;
  left: 0;
  position: relative;
}

.student-row:hover{
  left: 10px;
}

.inline{
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
}
