<div class="col-12" >
    <h1>Contact Us</h1>
    <hr style="color:black  ;">
 </div>
<div class="container" >
    <div class="row row-content" >
        <div class="col-12">
           <h2>Location Information</h2>
        </div>
         <div class="col-12 col-sm-4 offset-sm-1">
                <h3>Our Address</h3>
                 <address style="font-size: 100%">
                    676 INSAT Centre Urbain Nord BP <br> Tunis Cedex 1080<br>
                   <i class="fa fa-phone"></i> : +216 71 703 829<br>
                   <i class="fa fa-fax"></i> : +216 71 704 329
                   <br>
                   <i class="fa fa-envelope"></i> :
                     <a href="mailto:isertemail">contact email</a>
                </address>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+216 71 703 829"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                    <a role="button" class="btn btn-success" href="mailto:insertemail"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
         </div>
         <div class="col-12 col-sm-6 offset-sm-1">
             <h3>Map of our Location</h3>
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12771.930361487692!2d10.196202!3d36.842893!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4153c4733f285343!2sNational%20Institute%20of%20Applied%20Science%20and%20Technology!5e0!3m2!1sen!2stn!4v1612700078318!5m2!1sen!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         </div>
         <div class="col-12 col-sm-11 offset-sm-1">
             
         </div>
        </div>
     </div>