<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
            <a class="nav-item nav-link" routerLink="/signup">Signup</a>
            <a class="nav-item nav-link" routerLink="/login">Login</a>
            <a class="nav-item nav-link" routerLink="/settings">Settings</a>
            <a class="nav-item nav-link" routerLink="/pfe">Pfe</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </nav>
    
    <!-- main app container -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>