<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        <p class="mb-1">Current user (admin):</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li>{{currentUser.firstName}} {{currentUser.lastName}}</li>
        </ul>
        <a class="nav-item nav-link btn btn-rounded btn-primary" routerLink="/signup">Ajouter un utilisateur</a>
    </div>
<br>
    <!-- listing all users -->
    <div class="panel col-lg-12">
        <div class=" header-section " style="width: 100%">
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Chercher..." [(ngModel)]="searchText">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
              </div>
        </div>
        <div class="block-title">
          <h2>Liste des utilisateurs</h2>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-borderless table-vcenter table-striped">
            <thead>
              <tr>
                <th></th>
                <th>CIN</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | filter:searchText">
                <td><img src="assets/images/{{user.profilePic | defaultImage}}" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar"> {{user.profilePic}}</td>
                <td>{{ user.cin}}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td >
                    <a routerLink="/settings/{{user.id}}" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-sm btn-success" style="overflow: hidden; position: relative; margin-right: 5px;" data-original-title="Edit User"><i class="fa fa-pencil"></i></a>
                    <a data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-sm btn-danger" style="overflow: hidden; position: relative;" (click)="deleteUser(user.id)" data-original-title="Delete User"><i class="fa fa-times"></i></a>
                    </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>