<h1>Creer un utilisateur</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-5">
      <label>Prénom</label>
      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Le prénom est requis</div>
      </div>
    </div>
    <div class="form-group col-5">
      <label>Nom</label>
      <input type="text" formControlName="familyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.familyName.errors }" />
      <div *ngIf="submitted && f.familyName.errors" class="invalid-feedback">
        <div *ngIf="f.familyName.errors.required">Le nom est requis</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-7">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email est requis</div>
        <div *ngIf="f.email.errors.email">L'email doit être une adresse email valide</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-7">
        <label>CIN</label>
        <input type="text" formControlName="cin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" />
        <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
          <div *ngIf="f.cin.errors.required">CIN est requis</div>
        </div>
      </div>
    </div>
    <!-- <div class="form-row">
        <div class="form-group col-7">
            <label>password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">password est requis</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>confirmPassword</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">confirmPassword est requis</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div> -->
    <div class="form-group col">
      <label>Role</label>
      <select formControlName="role" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.role.errors }"(change)="changeRole()">
        <option value=""></option>
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="admin">Administrateur</option>
      </select>
      <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <div *ngIf="f.role.errors.required">Role est requis</div>
      </div>
    </div>
    <!-- when user is a teacher or a student-->
    <div class="form-row" [hidden]="userRole!='student'">
      <div class="form-group col-7">
        <label>N°Carte d'etudiant</label>
        <input type="number" formControlName="studentNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.studentNumber.errors }" />
        <div *ngIf="submitted && f.studentNumber.errors" class="invalid-feedback">
          <div *ngIf="f.studentNumber.errors.required">N°Carte d'etudiant est obligatoire</div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group col">
        <label>Filiere</label>
        <select formControlName="filiere" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.filiere.errors }">
            <option value=""></option>
            <option value="gl">GL</option>
            <option value="iia">IIA</option>
            <option value="rt">RT</option>
            <option value="imi">IMI</option>
            <option value="bio">BIO</option>
            <option value="ch">CH</option>
        </select>
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
            <div *ngIf="f.role.errors.required">Role est requis</div>
        </div>
    </div> -->
    <div class="form-row" [hidden]="userRole!='student'">
      <div class="form-group col-7">
        <label>Option</label>
        <input type="text" formControlName="option" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.option.errors }" />
        <div *ngIf="submitted && f.option.errors" class="invalid-feedback">
          <div *ngIf="f.option.errors.required">option est obligatoire</div>
        </div>
      </div>
    </div>
    <div class="form-row" [hidden]="userRole!='teacher' && userRole!='student'">
      <div class="form-group col-7">
        <label>Specialité</label>
        <input type="text" formControlName="speciality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.speciality.errors }" />
        <div *ngIf="submitted && f.speciality.errors" class="invalid-feedback">
          <div *ngIf="f.speciality.errors.required">Specialité est obligatoire</div>
        </div>
      </div>
    </div>
    <div class="form-row" [hidden]="userRole!='teacher' && userRole!='student'">
      <div class="form-group col-7">
        <label>Année</label>
        <input type="text" formControlName="annee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.annee.errors }" />
        <div *ngIf="submitted && f.annee.errors" class="invalid-feedback">
          <div *ngIf="f.annee.errors.required">année est obligatoire</div>
        </div>
      </div>
    </div>

  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" style="margin-right: 10px;">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Enregistrer
    </button>
    <a routerLink="/admin" class="btn btn-link">Annuler</a>
  </div>
</form>

<h1>Creer plusieur utilisateur via un ficheir Excel</h1>
<app-admin-upload-students></app-admin-upload-students>
