<div>
    <!-- <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="navbar-brand" routerLink="/signup" routerLinkActive="active">Signup</a>
    <a class="navbar-brand" routerLink="/reset-password" routerLinkActive="active">Reset Password</a> -->
    <div class="card mt-4" *ngIf="currentUser">
        <h4 class="card-header">Home</h4>
        <div class="card-body">
            <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
        </div>
    </div>
</div>



